html,
body {
    height: 100%;
    background-size: cover;
}

.body-content{
    width: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #EEE;
}
.content {
    padding: 0 !important;
}

hr.star-light,
hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #13547A;
}

hr.star-primary {
    border-color: #2c3e50;
}

hr.star-primary:after {
    color: #2c3e50;
    background-color: #fff;
}
h1{
    font-size: 60px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.success {
    background: #fff none repeat scroll 0 0 !important;
}
.section {
    padding: 100px 0 !important;
}
.jumbotron {
    padding-bottom: 15%;
    padding-top: 15%;
    background-color: #fff;
    margin-bottom: 0;
}
.blue {
    background-color: #13547A;
    padding-bottom: 15%;
    padding-top: 15%;
    color: #fff;
}
.white {
    background-color: #fff;
    padding-bottom: 15%;
    padding-top: 15%;
    color: #333;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

.nav > li > form > button:hover {
    text-decoration: none;
}

@media (min-width: 768px)

.success-registration {
    text-align: center;
    background: #18bc9c;
    color: white;
    width: 100%;
}

.intro-text .name {
    font-size: 4.75em;
}

.intro-text .name {
    display: block;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
}

.api-doc {
    padding-left: 0;
    position: relative;
}

.api-doc .api-doc-content {
    padding-left: 15px;
    padding-right: 0;
}

.api-doc .api-doc-content .detail {
    padding-bottom: 50px;
}

.api-doc .side {
    position: fixed;
    padding-right: 40px;
}